.sharkTank {
  border: 3px solid white;
  margin: 1.5em;
  height: 90vh;
  width: 45%;
  background-image: url('./images/sharkTank.jpg');
  background-size: cover;
  color: white;

#tankId {
    position: absolute;
    bottom: 2em;
  }

  .studentContainer {
    margin: 1em;
  }
}