.graveyard {
  display: flex;
  justify-content: center;
  border: 3px solid white;
  margin: 1.5em;
  height: 100vh;
  width: 50%;
  background-image: url('./images/graveyard.jpg');
  background-size: cover;
  color: white;

  #graveId {
    position: absolute;
    bottom: 2em;
  }
}